<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Define IISNode handler for Node.js application -->
    <handlers>
      <add name="iisnode" path="dist/index.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>
    
    <!-- Rewrite rules to route all requests to Node.js entry point -->
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="dist/index.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- IISNode-specific configuration -->
    <iisnode
      node_env="production"
      loggingEnabled="true"
      logDirectory="logs"
      devErrorsEnabled="true"
      nodeProcessCommandLine="%programfiles%\nodejs\node.exe" />
  </system.webServer>
</configuration>
