<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Indicates that the app is a Node.js app -->
    <handlers>
      <add name="iisnode" path="startup.js" verb="*" modules="iisnode"/>
    </handlers>

    <!-- Specifies the node.js instance -->
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url=".*" />
          <action type="Rewrite" url="startup.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Enables logging stdout and stderr from node.js to the IIS log file for the site -->
    <iisnode loggingEnabled="true" />
  </system.webServer>
</configuration>
